<div>
    <footer>
        <small>
            <a href='#'>Facebook</a> | 
            <a href='#'>Instagram</a> |
            <a href='#'>Twitter</a> |
            <a href='#'>Github</a>
            <p>Copyright &copy Zuzanna Pusiewicz</p>
            <p>Based on Udemy Course: The Complete Ruby on Rails Developer Course</p>
        </small>
    </footer>
</div>